@page
@model NileshIDP1ClientAppUI.Pages.ProtectedInfoModel
@{
    ViewData["Title"] = "Protected page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to IDP protected page</h1>
    <p>This represtents the page which is protected by the IDP</p>
    @if (User.Identity.IsAuthenticated)
    {
        <p>
            @User.Identity.Name
        </p>
    }
</div>